module.exports = {
	ghClientId: "64a44fe13eef4344b095",
	ghSecret: "6370aeb540465388a1b4f09ca195bcfaf69aea98",
	ghAuthUrl: "https://github.com/login/oauth/authorize",
	ghTokenUrl: "https://github.com/login/oauth/access_token",
	couchHost: "localhost",
	couchPort: 5984,
	couchUser: "",
	couchPass: ""
}
