html {
  background: #F4F4F4 url(/images/cubes.png);
}
body {
  width: 35em;
  margin: 3em auto;
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
  font-size: 125%;
  background-color: #ddd;
  padding: 1.5em;

  -webkit-box-shadow: 1px 1px 0 #afafaf,
                      2px 2px 0 #afafaf,
                      3px 3px 0 #afafaf,
                      4px 4px 0 #afafaf,
                      5px 5px 0 #afafaf,
                      6px 6px 0 #afafaf,
                      7px 7px 0 #afafaf,
                      8px 8px 0 #afafaf,
                      9px 9px 0 #afafaf,
                      10px 10px 0 #afafaf;
  -webkit-transform: translate3d(-5px,-5px,0);
}
label {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'Ubuntu', "Helvetica Neue", "HelveticaNeue", "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
  border-bottom: 2px solid #999;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.pop {
  margin: 1.5em 0em;
  padding: 1em;
  border: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 5em #333;
  -moz-box-shadow: 5px 5px 5em #333;
  box-shadow: 5px 5px 5em #333;
}
.recent > div, .recentbar {
  width: 100%;
  display: block;
}

#name, #repo, .monospace {
  font-family: monospace;
}

#results {
  border-top: 2px solid #999;
  width: 100%;
}
#results th .vert {
  display: block;
  width: 1em;
  padding: 0em;
  margin: 0em;
  text-transform: uppercase;
  word-break: break-all;
}
#results th, #results td {
  text-align: center;
}

.greencheck, .redx {
  padding: .5em .5em;
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
}
.greencheck {
  background-color: green;
}
.greencheck:before {
  content: "✔ ";
}
.redx {
  background-color: red;
}
.redx:before {
  content:"✘ ";
}

.footer {
  margin-top: 3em;
  padding-top: 1em;
}

.hidden {
  display: none;
}
.right {
  float: right;
}

/* autocomplete styles */
.autocomplete-w1 { background:url(/images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.recentitem, .recenttestitem {
  padding-right: 10px;
}

.github-login {
	background-image: url(../images/github.png);
	background-position: right;
	background-repeat: no-repeat;
	height: 32px;
	font-size: 10pt;
	padding-right: 32px;
}

.github-login a {
	margin-top: 12px;
}

.bootTime {
	font-size: 6pt;
}
