html {
  background: #F4F4F4 url(/images/cubes.png);
}
body {
  width: 50%;
  margin: 3em auto;
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
  font-size: 125%;
  background-color: #ddd;
  padding: 1.5em;
}
label {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'Ubuntu', "Helvetica Neue", "HelveticaNeue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.greencheck, .redx {
  padding: .5em .5em;
  border-radius: 3px;
  font-family: monospace;
}
.greencheck {
  background-color: green;
}
.greencheck:before {
  content: "✔ ";
}
.redx {
  background-color: red;
}
.redx:before {
  content:"✘ ";
}

.footer {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #999;
}

.hidden {
  display: none;
}
.right {
  float: right;
}