html {
  background: #F4F4F4 url(/images/cubes.png);
}
body {
  width: 50%;
  margin: 3em auto;
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
  font-size: 125%;
  background-color: #ddd;
  padding: 1.5em;
}
label {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'Ubuntu', "Helvetica Neue", "HelveticaNeue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.pop {
  margin: 1.5em 0em;
  padding: 1em;
  border: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 5em #333;
  -moz-box-shadow: 5px 5px 5em #333;
  box-shadow: 5px 5px 5em #333;
}

.greencheck, .redx {
  padding: .5em .5em;
  border-radius: 3px;
  font-family: monospace;
}
.greencheck {
  background-color: green;
}
.greencheck:before {
  content: "✔ ";
}
.redx {
  background-color: red;
}
.redx:before {
  content:"✘ ";
}

.footer {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #999;
}

.hidden {
  display: none;
}
.right {
  float: right;
}

/* autocomplete styles */
.autocomplete-w1 { background:url(/images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
