.passed {
  color: green;
}

.failed {
  color: red;
}

.module-section {
	clear: both;
}

.module-results div {
  padding-top: 8px;
}

.result-platforms div.result-node-version {
  margin: 12px;
}

.module-name {
	color: #0B5C7B;
	font: normal 120% Merriweather;
	margin: 0;
	padding: 0;
	padding-top: 14px;
	text-shadow: 0 1px 0 white
	vertical-align: top;
}

.result-version {
  float: left;
  width: 100%;
}

.result-platforms {
  float: right;
  text-align: center;
}

#spinner {
  background-image: url(/images/spinner.gif);
  height: 18px;
  margin: 0 auto;
  margin-top: 20px;
  width: 18px;
}

tr td {
  border-top: 1px dashed gray;
}

.module-version {
	float: left;
}
