.passed {
  color: green;
}

.failed {
  color: red;
}

.module-results div {
  padding: 8px;
}

.result-platforms div.result-node-version {
  margin: 12px;
}

.module-name {
  border-right: 2px outset black;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  vertical-align: top;
}

.result-version {
  float: left;
}

.result-platforms {
  float: left;
}

#spinner {
  background-image: url(/images/spinner.gif);
  height: 18px;
  margin: 0 auto;
  margin-top: 20px;
  width: 18px;
}

tr td {
  border-top: 1px dashed gray;
}
