.passed {
  color: green;
}

.failed {
  color: red;
}

.module-results div {
  padding: 8px;
}

.module-name {
  vertical-align: top;
}

.result-version {
  float: left;
}

.result-platforms {
  float: left;
}
